* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-family: 'Tinos', serif;
}

/*Home*/
#Home {
    width: 100vw;
    height: 46vw;
    background-color: #8294C4;

}

nav {
    display: flex;

}

ul {
    display: inline-flex;
    padding: 0px 29px 12px 46px;
    gap: 62px;
    list-style-type: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.h {
    display: inline-block;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 100px;
    height: 30px;
    line-height: normal;
    border-radius: 10px;
}

.h>a {
    text-decoration: none;
    color: #fff;
}

.h:hover {
    background-color: #ACB1D6;
}

.profile1 {
    width: 390px;
    height: 390px;
    display: block;
    /*블록 레벨 요소로 바꿔주기*/
    margin: auto;
    /*중앙 정렬*/
    margin-top: 6%;
}

.profile1:hover {
    transform: scale(0.5);
}

#intro--text {
    color: #FFF;
    text-align: center;
}

.intro--text1 {
    font-weight: 600;
    font-size: 25px;
}

.intro--text2 {
    font-weight: 500;
    font-size: 17px;
}


/*About me*/
#About--me {
    width: 100vw;
    height: 46vw;
    background-color: #DBDFEA;
}

.a {
    display: inline-block;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 100px;
    height: 30px;
    line-height: normal;
    border-radius: 10px;
}

#about {
    display: flex;
    position: relative;
    left: 4vh;
}

.profile2 {
    width: 300px;
    height: 300px;
    position: relative;
    left: 55vh;
    top: 20vh;
}

.about--text {
    display: flex;
    padding: 10px;
    /* letter-spacing: 1.68px; */
    justify-content: center;
    position: relative;
    top: 5vh;
    right: 10vh;
}

.about--text--1 {
    align-items: center;
    position: relative;
    left: 85vh;
    top: 23vh;
    color: #FFF;
}

.about--text--2 {
    position: relative;
    left: 58vh;
    top: 32vh;
    /* display: flex;
    flex-direction: column; */
    width: 300px;
    height: 239px;
    flex-shrink: 0;
    color: #8294C4;
    text-align: center;
}

.a>a {
    text-decoration: none;
    color: #8294C4;
}

.a:hover {
    background-color: #fff;
}



/*What I like*/
#What--I--like {
    width: 100vw;
    height: 46vw;
    background-color: #ACB1D6;
}

.w {
    display: inline-block;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 100px;
    height: 30px;
    line-height: normal;
    border-radius: 10px;
}

#Like {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    position: relative;
    top: 25vh;
}

.w>a {
    text-decoration: none;
    color: #fff;
}

.w:hover {
    background-color: #b1b4ff;
}

.Like--text {
    color: white;
}



/*Contant*/
#Contant {
    width: 100vw;
    height: 46vw;
    background-color: #FFEAD2;
}

.c {
    display: inline-block;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 100px;
    height: 30px;
    line-height: normal;
    border-radius: 10px;
}

#cont {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    position: relative;
    top: 25vh;
}

.c>a {
    text-decoration: none;
    color: #000;
}

.c:hover {
    background-color: #fffaec;
}

.cont--insta {
    display: inline-block;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}